html,
body,
#root {
    height: 100%;
}



#sidebar-wrapper {
    background-color: #d6e0ef;
    padding-top: 0.5rem;
    font-size: 14px;
    flex: 1 0 auto;
    width: 200px;
}

/* --------- ManageUsers.js ------------- */

.content-wrap {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .content-wrap {
        height: auto;
    }
}


.main-content {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .main-content {
        height: auto;
    }
}

/* --------- end ManageUsers.js ------------- */

.full-screen {
    min-height: calc(100vh - 128px)
}